<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="reports.ExtentReporterNG"></listener>
</listeners>
  <test thread-count="5" name="HMSAdminTest">
    <classes>
      <class name="hms.admin.testcases.LoginTest"/>
      <class name="hms.admin.testcases.DashboardTest"/>
      <class name="hms.admin.testcases.FrontofficeTest"> </class>
      <class name="hms.admin.testcases.VisitorTest"></class>
    </classes>
  </test> <!-- HMSAdminTest -->
</suite> <!-- Suite -->
